<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-icon" data-background-color="purple">
                            <i class="material-icons">assignment</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">{{ title }}</h4>
                            <div class="toolbar">
                                <!--        Here you can write extra buttons/actions for the toolbar              -->
                                <button mat-button class="btn btn-primary">Adicionar novo</button>
                            </div>

                            
                            
                            <div class="list-header">
                                <mat-form-field>
                                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
                                </mat-form-field>
                            </div>
                            
                            <mat-table #table [dataSource]="dataList" matSort>
                                    <ng-container *ngFor="let col of columns" matColumnDef="{{col.def}}">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ col.header }}</mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{col.cell(element)}} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="action">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Ações</mat-header-cell>
                                        <mat-cell *matCellDef="let element">
                                                <button mat-icon-button class="btn btn-primary btn-simple" >
                                                        <mat-icon aria-label="">edit</mat-icon>
                                                </button>
                                                <button (click)="showMessage()"  mat-icon-button class="btn btn-danger btn-simple">
                                                        <mat-icon aria-label="">cancel</mat-icon>
                                                </button>
                                        </mat-cell>
                                        
                                    </ng-container>

                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                            </mat-table>

                            <mat-paginator #paginator 
                                [pageSize]="7" 
                                [pageSizeOptions]="[7, 14, 21]" 
                                class="mat-elevation-z1">
                            </mat-paginator>

                            
                        

                        </div>
                        <!-- end content-->
                    </div>
                    <!--  end card  -->
                </div>
                <!-- end col-md-12 -->
            </div>
            <!-- end row -->
        </div>
    </div>
    